.pt_BR {
  background-image:url('images/app/flags/pt.gif') !important;
}

.en {
  background-image:url('images/app/flags/us.gif') !important;
}

.es {
  background-image:url('images/app/flags/mx.gif') !important;
}